body {
  padding: 125px;
  background-image: url("taustakuva.gif");
  background-color: #cccccc;
}
h1 {
   font-family: "Fantasy", Papyrus;
   font-size: 100px;
   text-decoration: underline;
   color: #FF0067;
   background-color: #4165F9;
   }
p {
  font-family: "Ink Free";
  font-weight: bold;
  font-size: 60px;
  color: #EB4DAD;
  background-color: #4165F9;
}

a {
  color: #00B7FF;
}
