<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Arviointitietokanta</h1>
    <p> Tervetuloa arviointitietokantaan!<p>
    <p>Tietokannan luoja: Laura Nikula<br><br>Luokkatunnus: TVT21KMO</p>
  </body>
</html>
